.outer-container {
  width: 960px;
}

.header {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

.articles {
  width: 530px;
  padding-right: 10px;
}

.sidebar {
  width: 380px;
  padding: 20px;
}