.outer-container {
  width: 100%;
  max-width: 960px;
}

.header {
  /* 10 / 960 * 100 */
  width: 100%;
  padding-left: 1.0416666666666665%;    /* 10px */
  padding-right: 1.0416666666666665%;   /* 10px */
}

.container {
  width: 100%;
  /* 10 / 960 * 100 */
  padding-left: 1.0416666666666665%;    /* 10px */
  padding-right: 1.0416666666666665%;   /* 10px */
}

.articles {
  /* 530 / 940 * 100 */
  width: 56.38297872340425%;           /* 530px */
  /* 10 / 940 * 100 */
  padding-right: 1.0638297872340425%;   /* 10px */
}

.sidebar {
  /* 380 / 940 * 100 */
  width: 40.42553191489361%;            /* 380 */
  /* 20 / 960 * 100 */
  padding: 2.127659574468085%;          /* 20px */
}



